<div class="nav">
  <form [formGroup]="adminForm" class="sign-up-form">
    <h2 class="title">Signup Admin</h2>

            <div class="fields">
              <label> <i class="fas fa-user-circle fa-lg"></i></label>
              <input type="text" placeholder="Username" formControlName="userName"/>
            </div>

            <div class="fields">
              <label><i class="fas fa-envelope fa-lg"></i></label>
              <input type="email" placeholder="Email" id='email' formControlName="email"/>
            </div>

            <div class="fields">
              <label><i class="fas fa-key fa-lg"></i></label>
              <input type="password" placeholder="Password" id='password' formControlName="password"/>
            </div>


            <button class="btn solid"  (click)="postFrom()">Signup</button>
          </form>
</div>


