<div class="dash">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><i class="las la-utensils"></i>Darek-Kitchen</h2>
        </div>
    
        <div class="sidebar-menu">
            <ul>
                <li >
                    <a  href="/addplate"  ><span class="la la-cutlery la-lg"></span>
                    <span>Add Plates</span></a>
                </li>
                <li>
                    <a href="/plate"><span class="las la-clipboard-list"></span>
                    <span>Update Plates</span> </a>
                </li>
                <!-- <li>
                    <a href="/order"><span class="las la-clipboard-list"></span>
                    <span>orders</span> </a>
                </li> -->
            </ul>
        </div>
    </div>
    
    </div>