
form{
    margin-top: 20%;
    color: #ffff;
}


*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;

	background-size: cover;
	background-repeat: round;
}
.contact .content
{
	max-width: 800px;
	text-align: center;
}
.contact .content h2
{
	font-size: 36px;
	font-weight: 500;
	color: #F7F709;
}
.contact .content p
{
	font-weight: 300;
	color: #fff;
}
.containers
{
	width: 	100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.containers .info
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.containers .info .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.containers .info .box .icon
{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.containers .info .box .text
{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.containers .info .box .text h3
{
	font-weight: 500;
	color: #F7F709;
	
}
.contactForm
{
	width: 40%;
	padding: 40px;
	background: #f7f70962;
	border-radius: 10px;
	box-shadow: 7px -7px #f7f70983
	
	
}
.contactForm h2
{
	font-size: 30px;
	color: white;
	font-size: 500;
	text-align: center;
	margin-bottom: 0%;
}
.contactForm .inputBox
{
	position: relative;
	width: 100%;
	margin-top: 10px;
	
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	/* border-bottom: 2px solid #333; */
	outline: none;
	resize: none;
	border-radius: 5px;
}
.contactForm .inputBox span
{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
	color: #571d02;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background: #571d02;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
.content{
	margin-top: 5%;
}
.contactForm .inputBox textarea{
	padding: 30px 0;
}
@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.containers
	{
		flex-direction: column;
	}
	.containers .info
	{
		margin-bottom: 40px;
	}
	.containers .info,
	.contactForm
	{
		width: 100%;
	}
	.content{
		font-size: 12px;
		margin-top: 5% ! important;
	}
	.content h2{
		font-size: 18px ! important;
	}
	.containers h3{
		font-size: 15px;
	}
	.containers p{
		font-size: 10px;
	}
}



