<div class="nav">
    <div class='container-wrapper'>
        <div class='container'>
          <h1>
           Ghosts
          </h1>
          <p>
            My name is Darek kitchen Bacha. I’m a Kitchen based in Tunisia. with my team Ghost Team we decided to create the Darek Kitchen platform
          </p>
          <ul>
            <li>
              <i href='https://www.instagram.com/darek_kitchen/' class="fab fa-instagram" ></i>
              <!-- <a href='https://www.instagram.com/darek_kitchen/'> -->


            </li>
            <li href="https://www.facebook.com/darekkitchen">
              <i href="https://www.facebook.com/darekkitchen" class="fab fa-facebook-f"></i>
                <!-- <a href="https://www.facebook.com/darekkitchen" > -->

              <!-- </a> -->
            </li>
            <li>
              <a (click)="navigate()">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>

</div>


