<div class="nav">
    <div class='container-wrapper'>
        <div class='container'>
          <h1>
            Hello.
          </h1>
          <p>
            My name is Noelia Cabane. I’m a UI developer based in Berlin. I specialize in web design, mobile web, icon design, and HTML/CSS.
          </p>
          <ul>
            <li>
              <a href='http://noeliacabane.dribbble.com/'>
                Dribbble
              </a>
            </li>
            <li>
              <a href='https://github.com/noeliacabane'>
                GitHub
              </a>
            </li>
            <li>
              <a href='mailto:noeliacabane@gmail.com'>
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
      
</div>
    
    
    