
    <div class='container-wrapper'>
        <div class='container'>
          <h1>
           Ghosts
          </h1>
          <p>
            My name is Nadhem Bacha. I’m a UI developer based in Tunisia. with my team Ghost Team we decided to create the Darek Kitchen platform
          </p>
          <ul>
            <li>
              <a href='https://github.com/NadhemBacha'>
                GitHub
              </a>
            </li>
            <li>
              <a (click)="navigate()">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
      

    
    
    