@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin-top: 20%;
  }
}
@media (max-width: 768px) {
  .container {
    margin-top: 50%;
    position: absolute;
  }
}


p {
  font-size: 1.05rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 30px 0;
}
ul li {
  display: inline-lock;
  float: left;
  width: 30%;
}
ul a {
  color: #D22351;
  width: 100;
  padding: 15px 0;
  text-decoration: none;
}
ul a:hover {
  color: #bc1f49;
}

p{
  margin-left: 19%;
  margin-top: 12%;
  margin-bottom:-10%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.678) ;
  font-size: 30px;
  color: #DEB28F;
  max-width: 60%;
  font-family: Cervino Regular, Condensed;
}