.nav{
    width: 100vw;
    height: 100vh;
    background-image: url('https://media4.giphy.com/media/l378AwfJ7pqLlRHr2/giphy.gif');
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
}
@import "https://fonts.googleapis.com/css?family=Rozha+One";
.container-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.849);
}

.container {
  max-width: 80%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 38%;
  }
}

body {
  color: #0D070A;
}

h1 {
  font-family: "Rozha One", serif;
  font-size: 3rem;
}

p {
  font-size: 1.05rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 30px 0;
}
ul li {
  display: inline-lock;
  float: left;
  width: 30%;
}
ul a {
  color: #D22351;
  width: 100;
  padding: 15px 0;
  text-decoration: none;
}
ul a:hover {
  color: #bc1f49;
}