<div>

  <form>
    <div class="container">
      <h1>Register</h1>
      <hr>
      <input type="text" placeholder="First Name..." name="fn" id="fn" required>
      <input type="text" placeholder="Last Name..." name="ln" id="ln" required>
      <input type="text" placeholder="Enter Email..." name="email" id="email" required>
      <input type="password" placeholder="Enter Password..." name="psw" id="psw" required>
      <input type="text" placeholder="Phone Number..." name="ph" id="ph" required>
      <input type="text" placeholder="Location..." name="location" id="location" required>
      <input type="text" placeholder="Image Card Id..." name="img" id="img" required>
      <hr>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  </form>
</div>
