
  <form>
    <div class="container">
      <h1>Register as a Chef</h1>
      <hr>
      <div>
       <label> <i class="fas fa-user-alt fa-lg"></i> </label>
        <input type="text" placeholder="First Name..." name="fn" id="fn" formControlName="firstName" >
      </div>
      <div>
        <label> <i class="fas fa-user-circle fa-lg"></i></label>
        <input type="text" placeholder="Last Name..." name="ln" id="ln" formControlName="lastName">
      </div>
      <div>
        <label> <i class="fas fa-envelope fa-lg"></i></label>
        <input type="text" placeholder="Enter Email..." name="email" id="email" formControlName="email">
      </div>
      <div>
        <label> <i class="fas fa-key fa-lg"></i></label>
        <input type="password" placeholder="Enter Password..." name="psw" id="psw" formControlName="password">
      </div>
      <div>
        <label> <i class="fas fa-phone fa-lg"></i></label>
        <input type="text" placeholder="Phone Number..." name="ph" id="ph" formControlName="phoneNumber">
      </div>
      <div>
        <label><i class="fas fa-map-marker-alt fa-lg"></i></label>
        <input type="text" placeholder="Location..." name="location" id="location" formControlName="location">
      </div><label><i class="fas fa-camera fa-lg"></i></label>
      <input type="file" placeholder="Image Card Id..." name="img" id="img" formControlName="imageCardId">
      <label>Upload Image</label>
     
      <button type="submit" class="registerbtn"(click)="postFrom()">Signup</button>
    </div>
  </form>

