body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: rgba(7, 7, 7, 0.712);
  margin-top: 7%;
  width: 40% ! important;
  border-radius: 2px;
  margin-left: 55%;
}

h1{
    text-align: center;
    color: white;
    font-size: 30px
}
#img{
  margin-top: 2%;
  margin-left: 3%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 93%;
  padding: 8px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left: 17px;
  border-radius: 1.5px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
i{
  color-adjust: #fff ! important;
}

label{
  color: white;
}
.inputi{
  margin-left: 0.5%;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #571d02;
  color: white;
  padding: 8px 0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: 69%;
  margin-bottom: -1%;
  border-radius: 2px;

}

.registerbtn:hover {
  opacity: 1;
}
.registerbtn:hover {
    background-color: orange;
}
a {
  color: orange;
}
@media only screen and (max-width: 800px) {
.container{
    
    margin-top: 26%;
    width: 90% ! important;
  
    

}
h1{
    font-size:18px ! important;
}
input{
  width: 80% !important
}
}

