<div class="signin">
  <form [formGroup]="loginForm" class="sign-in-form">
    <h2 class="title">Login</h2>
    <p class="text-muted">Sign In to your account</p>
    <div class="input-field">
      <label><i class="fas fa-envelope fa-lg"></i></label>
        <input type="email" placeholder="Email" id='Email' formControlName="email"/>
    </div>

    <div class="input-field">
      <label><i class="fas fa-key fa-lg"></i></label>
      <input type="password" placeholder="Password" id='Password' formControlName="password"/>
    </div>
    <button class="btn solid" (click)="postFrom()">Connexion</button>
  </form>

</div>