<div class="signin">
  <form [formGroup]="loginForm" class="sign-in-form">
    <h2 class="title">Login</h2>
    <p class="text-muted">Sign In to your account</p>
    <div class="input-field">
      <label><i class="fas fa-envelope fa-lg"></i></label>
        <input type="email" placeholder="Email" id='Email' formControlName="email"/>
    </div>

    <div class="input-field">
      <label><i class="fas fa-key fa-lg"></i></label>
      <span  (click)="toggleFieldTextType()" class="icon-show" style="cursor: pointer;" *ngIf="!fieldTextType"><i class="fa fa-eye-slash" ></i></span>
      <span  (click)="toggleFieldTextType()"class="icon-show" style="cursor: pointer;" *ngIf="fieldTextType"><i class="fa fa-eye" ></i></span>
      <div class="input-group">
        <!-- Change input type to be able to accept dynamic data -->
        <input
          [type]="fieldTextType ? 'text' : 'password'"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
      </div>

    </div>
    <button class="btn solid" (click)="postFrom()">Connexion</button>
  </form>

</div>
