@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body{
  text-align:center ! important;
  

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}


form {
  background-color:rgba(0, 0, 0, 0.836);
  border-radius: 6%;
  max-width: 32em;
   margin: auto;
  margin-top: 13%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;

}

.title {
  font-size: 2.2rem;
  margin-bottom:50px;
  margin-top:10px;
  text-align: center;
  color: white;
}

.input-field {
  max-width: 480px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 15px 0;
  height: 40px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.9rem;
  position: relative;
}


.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}


.btn {
  width: 150px;
  background-color: #DEB28F;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 12px;
  color: black;
  text-transform: capitalize;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 69%;
  box-shadow: none !important;
}
label{
  margin-top:12%
}

.btn:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 500px) {
form{
  margin-left: 3%;
  margin-top: 35% ! important;
  width:93%
}
.btn{
  margin-left: 52%;
}
}

.text-muted{
  text-align: center;
  margin-bottom: 10%;
  margin-top: -9%;
}