
<div class="slider">
    <div class="slider-content d-flex flex-column justify-content-center align-items-center">
        
        <h1 class="h1">
            Food brands built for online delivery
        </h1>
        <h5 class="h5">
            Crowd-pleasing menus. Beautifully packaged Food. Smart logistics. Strong business intelligence.
        </h5>

        <div class="raw">
            
        <button class='btn' > Join as a Brand</button>
        <button class='btn' >Customer</button>
    </div>
    </div>
</div>

  <div class="container">
    
    