.slider{
  width: 100vw;
  height: 100vh;
  margin-top: -3%;
  max-width: 100%;
  overflow: hidden;
}
.slider-content{
  width: 100vw;
  height: 100vh;
}
.h1{
  margin-bottom: 30px;
  margin-top:1px;
  font-family: playfair display,serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 1.2;
  color: #DEB28F;
}
.h5{
  margin-bottom: 85px;
  font-family: playfair display,serif;
  font-size: 25px;
  font-weight: 500;
  color: whitesmoke;
  background : rgba(0, 0, 0, 0.801) 
}
.btn{
  margin-left: 30px;
  margin-bottom: 60px;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.2!important;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  border-radius: 0em;
  padding: 0.8em 1.8em;
  background: #DEB28F ;
  border-color: transparent;
  color: #1F1A1E !important;
  box-shadow: none !important;
  border-radius: 30px;
}
.btn:active{
background-color: rgb(255, 255, 255);
}
.btn:hover{
  color: #DEB28F ! important;
  background:rgba(0, 0, 0, 0.774);
}
#imagemodal{
margin-top: 5%;
}
@media (max-width: 600px){
  h1{
      font-size:30px ! important;
  }
  h5{
      font-size:15px ! important;
  }
  .slider{
    margin-top:3.5%;
  }
  .container{
    margin-top: -11%;
    height:25px;
    position: relative;
  }
  .reg{
    margin-left: -30%;
  }
}


.cover{
  position: relative;
  z-index: 0;
  width: 100%;
  background: #DEB28F;
  margin-top: 1.3%;
}
.phone{
  z-index: 1;
  font-weight: 200;
}
.phone i{
  color: #000;
}
.phone a{
  color:#000;
  font-size: 13px;
  font-weight: bold;
}
.reg{
  width: 50%;
  text-align:right;
}
.reg a{
  color:#000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.social-icon{
  display: inline-block;
  width: 50%;
  
}
.social-icon p{
  display:block;
  width: 100%;

}
.social-icon p a{
  height: 30px;
  margin-right: 10px;
  color: black
}
.social-icon p a i{
  font-size: 13px;
  color: #000;
}
.social-icon p a:hover{
  background: black;
  color: #DEB28F;
}
.social-icon p a:hover i{ 
  color:#fff;
}