.dash{
  margin-top:4.3%;
   width:100%;
   min-height:auto;
  background-color: white !important;
  position: absolute;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.sidebar{
    width: 280px;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    background: #0a0a0afa;

}
a{
  color: white
}
.sidebar-menu{
  margin: 10px;
}
li{
      margin: 15px;
      font-size:18px;
}
span{
  margin-right: 10px
}
.sidebar-brand{
    margin-right:14%;
    height: 60px;
    color:#DEB28F;
}

.sidebar-brand span{
  display: inline-block;
}
.main-content{
  margin-left: 345px;
  font-size: 10px;
}
img{
width: 100px !important;
height:100px !important;
border: 1px solid grey ! important;
}
.card-single{
margin: 1%;
}
.btn {
  margin-bottom: 6.5%;
  margin-left: 0.5%;
}
h4{
  color: black ! important;
  margin-top:2%;
}
.search-wrapper{
text-align: center ! important;
}
.search{
margin: 0.5px 1.5px;
width: 30% ! important;
height: 40px ! important;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
border-radius:5px !important;
}

.modalinput{
margin-right: 13%;
}
.imgmodal{
margin-top: 0.5%;
width: 200px !important;
height:200px !important;
border: 1px solid grey ! important;
}



.modal{
  text-align: center;
  margin: 8% 50%;
  width: 100%;

}
.modalinput1{
  margin-bottom: 6.5%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right:8%;
  width:200px;
  height:35px;
  font-size: 16px;
}
.modalinput2{
  margin-bottom: 6.5%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right:10%;
  width:200px;
  height:35px;
  font-size: 16px;
}
.modalinput3{
  margin-bottom: 6.5%;
  margin-top: 3%;
  margin-left: 7%;
  margin-right:13%;
  width:200px;
  height:35px;
  font-size: 16px;
}


.row{
  margin-top: 1.5px;
  margin-right: 5%;
}

#deleteicon{
  color: #DEB28F;
}


input {
  font-family: "Poppins", sans-serif;
}

form {
  margin-left: -7.2%;
  margin-top: 0%;
  width: 100%;
}
.title {
font-size: 1.5rem;
margin-bottom: 10px;
text-align: left;

}
.btn {
width: 1120px;
background-color: #DEB28F ! important;
border: none;
outline: none;
height: 37px;
border-radius: 5px;
color: black;
font-weight: 600;
margin: -1px 0px 10px;
cursor: pointer;
margin-left: 5%;
text-decoration: bold !important;
box-shadow: none !important;
}

.btn:hover {
text-decoration:underline;
box-shadow: none !important;
border:1px solid black;
}
.btn2{
  margin-bottom: 6.5%;
  margin-left: 0.5%;
  background-color:#DEB28F;
  box-shadow: none !important;
  width: 70px;
  height:30px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size:15px;
}
.btn2:hover{
  border: 1px solid black;
  text-decoration:underline;
}
input{
  background-color: #f0f0f0;
  color: black !important;
  margin: 20px 0;
  height: 35px;
  border-radius: 4px ! important;
  margin-left: 5% ! important;
  margin-bottom: -0.5%;
  margin-top: -0.5%;
  width: 95%;
  box-shadow: none !important;
  outline: black !important;
  border: solid 1px black !important;
  background-color:rgb(255, 255, 255)
}
::placeholder{
  position: center;
  padding-left: 1% ! important;
  color: black;
}
#defaultRegisterFormImageCardId{
  padding-left:0.25%;
  padding-top: 0.15%;
  position: center ! important;
}
::-webkit-file-upload-button{
  background: #DEB28F ! important;
  cursor: pointer !important;

}




@media only screen and (max-width: 500px) {
.title{
  font-size: 1.2rem;

text-align: center;

color: white;

}
form{
  width:90%;
  margin-left: 5%;
  padding: 1rem 1rem;
  height: 80%;
  margin-top: 29% ! important;
}
.btn{
  margin-left: 49%;
  margin-top: 5%;
}
}

.col1{
  margin: 0 27px;
}
.col2{
  margin-right: -0.5%;


}

.close-icon {
border:1px solid transparent;
background-color: transparent;
display: inline-block;
vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
content: "X";
width: 15px;
height: 15px;
background-color: black;
z-index:1;
right: 35px;
top: 0;
bottom: 0;
margin: auto;
padding: 2px;
border-radius: 50%;
text-align: center;
color: white;
font-weight: normal;
font-size: 12px;
box-shadow: 0 0 2px black;
cursor: pointer;
}

td{
font-weight: 450;
}
