.dash{
  margin-top:4.3%;
  width:100%; 
  height:669px;
  background-color: white !important;
  position: absolute;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.sidebar{
    width: 280px;
    position: absolute;
    left: 0;
    top:0;
    height: 100em;
    background: #0a0a0afa;

}
a{
  color: white  ;
}
.sidebar-menu{
  margin: 10px;
}
li{
  margin: 15px;
  font-size:18px
}
span{
  margin-right: 10px
}
.sidebar-brand{
    margin-right:14%;
    height: 60px;
    color:#DEB28F;
    
}
.sidebar-brand span{
  display: inline-block;
}
.main-content{
  margin-left: 345px;
  font-size: 10px;
}
img{
width: 100px !important;
height:100px !important;
border: 1px solid grey ! important;
}
.card-single{
margin: 1%;
}
.btn {
margin-bottom: 6.5%;
margin-left: 0.5%;
}
h5{
margin: 1.5%
}
.search-wrapper{
text-align: center ! important;
}
.search{
margin: 0.5px 1.5px;
width: 50% ! important;
height: 40px ! important;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
border-radius:5px !important;
}
.modal{
text-align: center;
margin: 8% 50%;
width: 100%;
}
.modalinput1{
margin-bottom: 6.5%;
margin-top: 3%;
margin-left: 3%;
margin-right:8%;
width:200px;
height:35px;
font-size: 16px;
}
.modalinput2{
margin-bottom: 6.5%;
margin-top: 3%;
margin-left: 3%;
margin-right:10%;
width:200px;
height:35px;
font-size: 16px;
}
.modalinput3{
margin-bottom: 6.5%;
margin-top: 3%;
margin-left: 7%;
margin-right:13%;
width:200px;
height:35px;
font-size: 16px;
}
.modalinput{
margin-right: 13%;
}
.imgmodal{
margin-top: 0.5%;
width: 200px !important;
height:200px !important;
border: 1px solid grey ! important;
}
label{
margin-right: 10%;
font-size: 16px;
}
.label3{
text-align: center;
margin-right: 4%;
}

.editbtn{
  width: 200px;
  height:35px;
}
.well{
  text-align: center;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display:block

}