<!-- <app-admin-navbar></app-admin-navbar>
<div class="dash">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><i class="las la-utensils"></i>Darek-Kitchen</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/manage"><span class="las la-igloo"></span>
                    <span>My Virtual kitchen</span></a>
                </li>
                <li >
                    <a  href="/addplate"  ><span class="la la-cutlery la-lg"></span>
                    <span>Add Plates</span></a>
                </li>
                <li>
                    <a href="/plate"><span class="las la-clipboard-list"></span>
                    <span>Update Plates</span> </a>
                </li>
                <li>
                    <a href="/order"><span class="las la-clipboard-list"></span>
                    <span>orders</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
        <div class="card-single" *ngfor="let chef of chefs" >
          <div class="panel-body">
            <div class="col-md">
              <div class="well dash-box">
                <h2><span></span> Name</h2>
                <h4>{{chef.name}}</h4>
              </div>
            </div>
            <div class="col-md">
              <div class="well dash-box">
                <h2><span></span>Cooks in the platform</h2>
                <h4>{{chef.length-1}}</h4>
              </div>
            </div>
            <div class="col-md">
              <div class="well dash-box">
                <h2><span></span>Your Location</h2>
                <h4>{{chef.location}}</h4>
              </div>
            </div>
            <div class="col-md">
              <div class="well dash-box">
                <h2><span></span> Orders</h2>
                <h4>200</h4>
              </div>
            </div>
          </div>
        
        </div>
    <div>
        <span class="las la-google-wallet"></span>
    </div>
 
 -->