
<div>

  <form action="#" class="sign-in-form">
    <h2 class="title">Sign up</h2>

            <div class="input-field">
              <i class="fa fa-user"></i>
              <input type="text" placeholder="FirstName" />
            </div>

            <div class="input-field">
              <i class="fa fa-user"></i>
              <input type="text" placeholder="LastName" />
            </div>

            <div class="input-field">
              <i class="fa fa-at"></i>
              <input type="text" placeholder="Email" />
            </div>

            <div class="input-field">
              <i class="fa fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>

            <div class="input-field">
              <i class="fa fa-map-marker"></i>
              <input type="location" placeholder="location" />
            </div>

            <input type="submit" value="Login" class="btn solid" />

          </form>
</div>


