.nav{
  /* width: 100vw;
  height: 100vh; */

width:90%;

}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");



input {
  font-family: "Poppins", sans-serif;
}



form {
  background-color:rgba(0, 0, 0, 0.863);
  border-radius: 3%;
  box-shadow: 6px -4px rgb(0, 0, 0);
  width: 30%;
  margin-top: 8%;
  margin-left: 59.5%;
  padding: 0rem 0rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  text-align: center;
  padding: 5.3%;
  color: white;
}

/* .input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 17px 0;
  height: 45px;
  border-radius: 55px;
 
  grid-template-columns: 15% 85%;
  padding: 0 0.9rem;

} */


/* .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
} */
/* 
.input-field input::placeholder {
  color: #aaa;
  font-weight: 400;
} */


.btn {
  width: 120px;
  background-color: #571d02;
  border: none;
  outline: none;
  height: 43px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 50px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 68%;
}

.btn:hover {
  background-color:orange;
}

input{
  min-width: 80%;
  background-color: #f0f0f0;
  margin: 20px 0;
  height: 35px;
  border-radius: 5px;
  box-shadow: 5px -4px rgba(0, 0, 0, 0.685);
  margin-left: 5%;
  margin-bottom: -1%;
}
label{
  margin-left: 4%;
  margin-bottom: -10%;
  color: white
}
.inputi{
 margin-left:5.2%;
}

@media only screen and (max-width: 500px) {
  .title{
    font-size: 1.2rem;
   
  text-align: center;
 
  color: white;

  }
  form{ 
    width:90%;
    margin-left: 5%;
    padding: 1rem 1rem;
    height: 80%;
    margin-top: 29%;
  }
  .btn{
    margin-left: 49%;
    margin-top: 5%;
  }
}
