.row{
  position: absolute ! important;
  background-size: cover;
  width:95.9rem;
  margin-top: -3.2%;
  overflow:hidden ! important;
  /* background-image: url('https://format-com-cld-res.cloudinary.com/image/private/s--yU5hjwQS--/c_limit,g_center,h_1200,w_65535/fl_keep_iptc.progressive,q_95/v1/1a734fc5206bed55cf9be93c30ed8e52/RamenFeatured-1.jpg'); */
}
.col-lg-2 {
margin-top:1%;
margin-left:2%;
padding: 100px 10 20px;
}
.card-ecommerce{
height: 100%;
width: 280px ! important;
background: rgb(0, 0, 0);
border: 1.5px solid rgba(255, 255, 255, 0.205);
}
.view{
min-height: 160px;
}

.imgCart{
max-height:279px ! important;
min-height:279px ! important;
}

.menuname{
color:white;

}
.price{
font-family: Book Antiqua;
color:#DEB28F;
}
.descrip{
font-family: Book Antiqua;
color:white;
}

.location{
float:right;
font-weight: 600;
font-family: Georgia;
margin-top: 2%;
margin-bottom:-5%;
color: white;
}
.quantity{
color:white;
}
.description{
color: gray;
}

/* Styles for wrapping the search box */

.main {
width: 50%;
margin: 50px auto;
margin-top:4.1%;
text-align: center ! important;
margin-right: 10% ! important;
}



.has-search .form-control {
padding-left: 1.575rem;
border-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
width: 50vh;
height: 45px;
outline: none;
box-shadow: none;
}
::placeholder{
color: #aaa;
font-family: Georgia;
}

.has-search .form-control-feedback {
position: absolute;
z-index: 2;
display: block;
width: 0.80rem;
height: 2.875rem;
line-height: 2.375rem;
text-align: center;
pointer-events: none;
color: #aaa;
margin-left: 0.5%;
}


.form-control::-webkit-search-cancel-button{
position:relative;
cursor:pointer ! important;

}

.btn-buy{
background:#DEB28F;
float: left;
font-weight: 500;
font-family: Georgia;
outline:none !important;
box-shadow: none;
width: 80%;
margin-left:10%;
margin-top: 18%;
margin-bottom: -5%;
font-size:14px
}
.btn-buy:active{
background-color: #deb38f41;
}
.btn-buy:hover{
text-decoration:underline;
}
.plusicon{
font-size: 12px ! important;
}