.dash{
  margin-top:4.3%;
  width:100%; 
  height:auto;
  background-color: white !important;
  position: absolute;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.sidebar{
    width: 280px;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    background: #0a0a0afa;

}
a{
  color: white  ;
}
.sidebar-menu{
  margin: 10px;
}
li{
  margin: 15px;
  font-size:18px
}
span{
  margin-right: 10px
}
.sidebar-brand{
    margin-right:14%;
    height: 60px;
    color:#DEB28F;
    
}
.sidebar-brand span{
  display: inline-block;
} 
.btn {
margin-bottom: 6.5%;
margin-left: 0.5%;
}
.title{
  padding:10px;
  margin-right: 3%;
}

label{
font-size: 16px;
padding: 0;
margin-right: 5%;
}
td{
  font-weight: 480;
}

form{
  text-align: center;
  margin-left: 15%;
  padding: 5px;
}
.input-field{
  text-align: center;
  padding: 12px;
  margin-right: 10%;
}
input{
  width:300px
}
#inplocation{
  margin-right: 3%;
}
#inpimage{
  margin-right:1%;
}
#inpprice{
  margin-right:0.5%;
}

img{
  width: 100px ! important;
  height: 60px ! important;
  cursor: pointer !important;
}

.table{
  width: 100%;
  margin-left: 19%;
  margin-top: -0.3%;
}
.btn{
  background-color: #DEB28F;
  border: none;
  box-shadow: none ! important;
}

.modal{
  text-align: center;
  margin: 4.5% 23%;
  width: 100%;
  height:88%;
}
.modalinput{
  margin-right: 13%;
  }
.imgmodal{
  margin-top: 0.5%;
  margin-right: 13%;
  width: 300px !important;
  height:250px !important;
  border: 0.5px solid grey ! important;
}
.editbtn{
  width: 300px;
  height:35px;
  color: white;
  box-shadow: none !important;
  margin-top:3%;
  margin-left: -13% ! important;

}
.btnblack:hover{
  text-decoration:underline 0.5px white ! important;
}
.btncloseblack{
  margin-left:4% !important;
}
.btnblack{
  color: white;
  box-shadow: none !important;
}
.btnblack::before{
  border: 2px solid #DEB28F;
}
.btncloseblack{
  color: white;
  box-shadow: none !important;
}
.search-wrapper{
  text-align: center ! important;
  margin-top: -0.28%;
  }
  .search{
  margin: 0.5px 1.5px;
  width: 30% ! important;
  height: 40px ! important;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:5px !important;
  }

.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.close-icon:after {
  content: "X";
  width: 15px;
  height: 15px;
  background-color: black;
  z-index:1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px black;
  cursor: pointer;
}