<div class="dash">

  <div class="sidebar">
    <div class="sidebar-brand">
        <h2><i class="las la-utensils"></i>Darek-Kitchen</h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/dashboard"><span class="las la-igloo"></span>
                <span>Dashboard</span></a>
            </li>
            <li >
                <a  href="/getusers"  ><span class="las la-users" ></span>
                <span>My Users</span></a>
            </li>
            <li>
                <a href="/getbrands"><span class="las la-clipboard-list"></span>
                <span>Update Brands</span></a>
            </li>
            <li>
              <a href="/createchef"><span class="las la-landmark"></span>
              <span>Create chef account</span></a>
          </li>

        </ul>
      </div>
    </div>


    <div class="main-content">
        <header>
            
          <div class="search-wrapper">
            <!-- <i id="searchicon" class="fa fa-search fa-lg" aria-hidden="true"></i> -->
            <input class="search" type="search" placeholder="Type here to search..." />
        </div>
    

        </header>

        <div class="card-single" >
          <div class="row">
    
            <table class="table">
                <tr>
                <th><i class="far fa-copyright fa-lg"></i><strong>Brand Name</strong> </th>
                <th><i class="fas fa-utensils fa-lg"></i><strong>Category</strong> </th>
                <th><i class="far fa-images fa-lg"></i><strong>Brand Logo</strong> </th>
                <th><i class="fas fa-edit fa-lg udatebtn"></i><strong>Update</strong> </th>
                <th><i id="deleteicon" class="fas fa-minus-circle fa-lg deletebtn"></i><strong>Delete</strong> </th>
            </tr>
        
            <tr *ngFor="let brand of brands">
                <td>{{brand.brandName}}</td>
                <td>{{brand.category}}</td>
                <td><img src={{brand.logo}}></td>
                <td><button class="btn black btnblack" data-toggle="modal" data-target="#myModal" (click)="getvalues(brand)">Update</button></td>
                <td><button class="btn F7F709 btnyellow" (click)="deleteBrand(brand)">Delete</button></td>
                
    
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          
          <div class="modal-content">
            <div class="modal-body">
              <form [formGroup]="brandForm" >
                <img src={{brand.logo}} class="imgmodal" formControlName="logo"   >
                <div class="modalinput">
                <label><strong>Logo :</strong></label>
                <input class="modalinput1" type="text" value={{brand.logo}} formControlName="logo"/><br>
                <label><strong>Name :</strong></label>
                <input class="modalinput2" type="text"  value={{brand.brandName}} formControlName="brandName"/><br>
                <label class="label3"><strong>Category :</strong></label>
                <input class="modalinput3" type="text" value={{brand.category}} formControlName="category"/>

                </div>
              <button class="btn black editbtn" (click)="updateBrand()">EDIT</button>
                
              </form>
              <button type="button" class="btn black btncloseblack" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-footer">
              <div class="container">
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
         
           
          </div>
        </div>
      </div>
    </div>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </table>
            
        </div>
        </div>
    <div>
        <span class="las la-google-wallet"></span>
    </div>
     
    </div>
    </div>
 