
  <form  [formGroup]="loginChef">
    <div class="container">
      <h1>Login as a Chef</h1>
      <hr>
      <div>
        <i class="fa fa-at"></i>
        <input type="text" placeholder="Enter Email..." name="email" id="email" formControlName="email">
      </div>
      <div>
        <i class="fa fa-lock"></i>
        <input type="password" placeholder="Enter Password..." name="psw" id="psw" formControlName="password">
      </div>
      <hr>
      <button type="submit" class="registerbtn"(click)="loginchef()">Login</button>
    </div>
  </form>

