<!-- <div class="dash">

<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="las la-utensils"></span>Darek-Kitchen</h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href=""><span class="las la-igloo"></span>
                <span>Dashboard</span></a>
            </li>
            <li>
                <a href=""><span class="las la-users"></span>
                <span>Customers</span></a>
            </li>
            <li>
                <a href=""><span class="las la-clipboard-list"></span>
                <span>Projects</span></a>
            </li>
            <li>
                <a href=""><span class="las la-shipping-bag"></span>
                <span>Orders</span></a>
            </li>
            <li>
                <a href=""><span class="las la-receipt"></span>
                <span>Inventory</span></a>
            </li>
            <li>
                <a href=""><span class="las la-circle"></span>
                <span>Accounts</span></a>
            </li>
            <li>
                <a href=""><span class="las la-clipboard-list"></span>
                <span>Tasks</span></a>
            </li>
        </ul>
    </div>
</div>


<div class="main-content">
    <header>
        <h2>
            <label for="">
                <span class="las la-bars"></span>
            </label>
            
            Dashboard
        </h2>

        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search here" />
        </div>

        <div class="search-wrapper">
            <img src="https://teleme.io/assets/feature_updates/tg_group_admins.jpg">
        <div>
        <h4>Nadhem Bacha</h4>
        <small>Super admin</small>
    </div>
</div>
    </header>

   <section>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h2>54</h2>
                    <span>Customers</span>
                </div>
            <div>
                <span class="las la-users"></span>
        </div>
        </div>
   
        <div class="card-single">
            <div>
                <h2>79</h2>
                <span>Projects</span>
            </div>
        </div>
        <div>
            <span class="las la-clipboard-list"></span>
    </div>
    </div>

    <div class="card-single">
        <div>
            <h2>124</h2>
            <span>Orders</span>
        </div>
        </div>
    <div>
        <span class="las la-shopping-bag"></span>
</div>


<div class="card-single">
    <div>
        <h2>$6K</h2>
        <span>Income</span>
    </div>
    </div>
<div>
    <span class="las la-google-wallet"></span>
</div>

   </section>
</div>
</div> -->



<body class="sidebar-is-reduced">
    <header class="l-header">
      <div class="l-header__inner clearfix">
        <div class="c-header-icon js-hamburger">
          <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
        </div>
        <div class="c-header-icon has-dropdown"><span class="c-badge c-badge--red c-badge--header-icon animated swing">13</span><i class="fa fa-bell"></i>
          <div class="c-dropdown c-dropdown--notifications">
            <div class="c-dropdown__header"></div>
            <div class="c-dropdown__content"></div>
          </div>
        </div>
        <div class="c-search">
          <input class="c-search__input u-input" placeholder="Search..." type="text"/>
        </div>
        <div class="header-icons-group">
          <div class="c-header-icon basket"><span class="c-badge c-badge--blue c-badge--header-icon animated swing">4</span><i class="fa fa-shopping-basket"></i></div>
          <div class="c-header-icon logout"><i class="fa fa-power-off"></i></div>
        </div>
      </div>
    </header>
    <div class="l-sidebar">
      <div class="logo">
        <div class="logo__txt">D</div>
      </div>
      <div class="l-sidebar__content">
        <nav class="c-menu js-menu">
          <ul class="u-list">
            <li class="c-menu__item is-active" data-toggle="tooltip" title="Flights">
              <div class="c-menu__item__inner"><i class="fa fa-plane"></i>
                <div class="c-menu-item__title"><span>Flights</span></div>
              </div>
            </li>
            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Modules">
              <div class="c-menu__item__inner"><i class="fa fa-puzzle-piece"></i>
                <div class="c-menu-item__title"><span>Modules</span></div>
                <div class="c-menu-item__expand js-expand-submenu"><i class="fa fa-angle-down"></i></div>
              </div>
              <ul class="c-menu__submenu u-list">
                <li>Payments</li>
                <li>Maps</li>
                <li>Notifications</li>
              </ul>
            </li>
            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Statistics">
              <div class="c-menu__item__inner"><i class="far fa-chart-bar"></i>
                <div class="c-menu-item__title"><span>Statistics</span></div>
              </div>
            </li>
            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Gifts">
              <div class="c-menu__item__inner"><i class="fa fa-gift"></i>
                <div class="c-menu-item__title"><span>Gifts</span></div>
              </div>
            </li>
            <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Settings">
              <div class="c-menu__item__inner"><i class="fa fa-cogs"></i>
                <div class="c-menu-item__title"><span>Settings</span></div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
  <main class="l-main">
    <div class="content-wrapper content-wrapper--with-bg">
      <h1 class="page-title">Dashboard</h1>
      <div class="page-content">Content goes here</div>
    </div>
  </main>