.dash{
    margin-top:4.3%;
     width:100%; 
     height:auto;
    background-color: white !important;
    position: absolute;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }
  .sidebar{
      width: 280px;
      position: absolute;
      left: 0;
      top:0;
      height: 100%;
      background: #0a0a0afa;
  
  }
  a{
    color: white  ;
  }
  .sidebar-menu{
    margin: 10px;
  }
  li{
    margin: 15px;
    font-size:18px
  }
  span{
    margin-right: 10px
  }
  .sidebar-brand{
      margin-right:14%;
      height: 60px;
      color:#F7F709;
      
  }
  .sidebar-brand span{
    display: inline-block;
  }
  .main-content{
    margin-left: 345px;
    font-size: 10px;
  }  
  .btn {
  margin-bottom: 6.5%;
  margin-left: 0.5%;
  }
  .title{
    padding:10px;
    margin-right: 3%;
  }
  
  label{
  font-size: 16px;
  padding: 0;
  margin-right: 5%;
  }
  
  form{
    text-align: center;
    margin-left: 20%;
  }
  .input-field{
    text-align: center;
    padding: 12px;
    margin-right: 10%;
  }
  input{
    width:300px
  }
  #inplocation{
    margin-right: 3%;
  }
  #inpimage{
    margin-right:1%;
  }
  #inpprice{
    margin-right:0.5%;
  }
  
  img{
    width: 100px ! important;
    height: 60px ! important;
    cursor: pointer !important;
  }
  img:hover{
    width: 60% ! important;
    height:30% ! important;
    float: right;
  }
  .table{
    width: 100%;
    margin-left: 19%;
    margin-top: -3.5%;
  }
  td{
    font-weight: 480;
  }
  .btn{
    background-color: #F7F709;
    border: none;
    box-shadow: none ! important;
  }
  #deletebtn{
    width:60px;
  }
  #deletebtn:hover{
    border: 1px solid black;
    text-decoration: underline;
  }
  #deletebtn:active{
    background: #f7f70963
  }
  #addbtn{
    width: 24.80%;
    margin-right: 2.8%;
    height:31px;
  }
  #addbtn:hover{
    text-decoration: underline;
    border: 1px solid black;
  }
  #addbtn:active{
    background: #f7f70963
  }