.nav-logo{
  width: 78px;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-toggler {
  background: black;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
  font-size: 17px;
  font-weight: 1000;

}
@media (max-width: 968px) {
  
  .nav-link {
    padding: .2rem 1rem;
    font-size: 10px;
    display: inline-block;
  }
}

.nav-link.active,.nav-link:focus{
  color: #DEB28F;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #436b02;
}

a:active {
background-color: #DEB28F;
}




/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}

.nav-log{
  width: 46px !important;
  height: 44px !important;
   padding: 0px;
margin: 0px;
text-align: center;
display:inline-block;
vertical-align:top;

}


.navbar-brand{
  border-radius: 10%;
}
.navbar-brand:first-letter{
color:#DEB28F
}

.navbar{
position: absolute ! important;

}

/* -------------------------------------------------------- */

.dropbtn {
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 90px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 5px 5px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #4C884B;}

.dropdown:hover .dropdown-content {display: block;}


.cart_icon{
position: relative;
cursor: pointer
}
.cart_icon:focus{
outline: none;
border: none;
}
.cart_icon i {
font-size: 24px;
color: #fff;
}
.cart_value{
position: absolute;
top: -10px;
right: -32px;
background: black;
font-size:10px;
border: 0px solid #ccc;
border-radius: 50%;
padding:2px 10px;
font-weight: 800;

}