<!---Hero Section-->
<section id="hero">
<div class="hero-container">
    <div class="hero-logo">
        <h1 class="font-weight-bold">Cart Products</h1>
    </div>
    </div>
</section>
<!---End of Hero Section-->
<!--Cart Section-->
<section class="mt-5">
<div class="container">
    <div class="cart">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"class="text-white">Product</th>
                    <th scope="col"class="text-white">Price</th>
                    <th scope="col"class="text-white">Quantity</th>
                    <th scope="col"class="text-white">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="main">
                            <div class="d-flex">
             <!--W=145 H=98--> <img src=""alt="">
                            </div>
                            <div class="des">
                                <p>lorem ipsum</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6>$20.00</h6>
                    </td>
                    <td>
                        <div class="counter">
                            <i class="fas fa-plus"></i>
                            <input class="input-number"type="text"
                            value="1"min="0"max="10">
                            <i class="fas fa-minus"></i>
                        </div>
                    </td>
                    <td>
                        <h6>$20.00</h6>
                    </td>
                </tr>
            
            </tbody>
        </table>
    </div>
    </div>
</div>
</section>
<div class="col-lg-4 offset-lg-4">
<div class="checkout">
    <ul>
        <li class="subtotal">subtotal
            <span>$60.00</span>
        </li>
        <li class="cart-total">Total
        <span>$60.00</span></li>
    </ul>
    <a href="#"class="proceed-btn">Proceed to Checkout</a>
</div>
</div>
