<!---Hero Section-->
<section id="hero">
<div class="hero-container">
    <div class="hero-logo">
        <h1 class="font-weight-bold">Cart Products</h1>
    </div>
    </div>
</section>
<!---End of Hero Section-->
<!--Cart Section-->
<section class="mt-5">
<div class="container">
    <div class="cart">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr >
                    <th scope="col"class="text-white">Product</th>
                    <th scope="col"class="text-white">Price</th>
                    <th scope="col"class="text-white">Quantity</th>
                    <th scope="col"class="text-white">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let menu of menus ">
                    <td>
                        <div class="main">
                            <div class="d-flex">
                            <img src="" alt="">
                            </div>
                            <div class="des">
                                <p>{{menu.title}}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6> {{menu.price}}DT</h6>
                    </td>
                    <td>
                        <div class="counter">
                                <div class="def-number-input number-input safari_only mb-0">
                                <span onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="btn btn-yellow"><div class="plus">-</div></span>
                                <input class="quantityy" min="0"  name="quantity" value="1" type="number">
                                <span onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="btn btn-yellow"><div class="plus">+</div></span>
                                        </div>

                        </div>
                    </td>
                    <td>
                        <h6>{{1100 | currency}}</h6>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    </div>
</div>
</section>
<div class="col-lg-4 offset-lg-4">
<div class="checkout">
    <ul>
        <li class="subtotal">subtotal
            <span>{{1100 | currency}}</span>
        </li>
        <li class="cart-total">Total
        <span>{{1100 | currency}}</span></li>
    </ul>
    <a href="#"class="proceed-btn">Proceed to Checkout</a>
</div>
