
/*==========Hero Section===========*/
#hero{
  display:table;
  min-width: 100%;
  min-height: 22vh;
}
@media (min-width: 1024px){
  #hero{
      background-attachment: fixed;
  }
}
#hero .hero-logo{
  margin: 20px;
  max-width: 100%;
}
#hero .hero-container{
  display: table-cell;
  margin: 0;
  padding:0;
  text-align: center;
  vertical-align: middle;
}
#hero h1{
  margin: -5px 0 10px 0;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
  color: #DEB28F;
}
@media (max-width: 768px){
  #hero h1{
      font-size: 28px;
      line-height: 36px;
  }
}
@media (max-width: 768px){
  #hero h2{
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 30px;
  }
}
.cart .table{
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  position: relative;
}
.cart .table thead tr th{
  border-top:0px;
  font-size:16px;
  font-weight: bold;
  border-bottom:0px;
  background: #DEB28F;
  color: black !important;
  
}
.cart .table thead tr td{
  padding-top:30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}
.cart .table tbody tr td .main .d-flex{
  padding-right:30px;
}
.cart .table tbody tr td .main .d-flex img{
  border: 2px solid #000;
  border-radius: 3px;
}
.cart .table tbody tr td .main .des{
  vertical-align: middle;
  align-self: center;
  color: white;
}
.cart .table tbody tr td .main .des p{
  margin-bottom:0px;
}
.cart .table tbody tr td h6{
  font-size:16px;
  color:white ! important;
  margin-top: 18%;
}
.cart .table tbody tr td .counter{
  margin-bottom:0px;
}
tbody{
  background-color:rgba(0, 0, 0, 0.904);
  
}
.counter i{
  border: 1px solid #000;
  padding: 7px;
  display: inline-block;
  position: relative;
}
.counter{
  cursor: pointer ! important;
  margin-top:5%
}
td{
  color:white;
}
.btn{
  height:29.5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color:#DEB28F
}
.btn:active{
  background-color: #f7f7095d;
}
.quantityy{
  height:32px ! important;
  border-radius: 5px;
  margin-top:5px
}
.plus{
  margin-top: -6px;
}
.cart .table tbody tr td .counter input{
  width: 50px;
  text-align: center;
  height: 32px;
  outline:none;
  box-shadow: none;
}
.checkout ul{
  border: 2px solid #EBEBEB;
  background: #DEB28F;
  padding-left:25px;
  padding-right:25px;
  padding-top:16px;
  padding-bottom: 20px;
}
.checkout ul li{
  list-style: none;
  font-size:16px;
  font-weight: bold;
  color:#252525;
  text-transform: uppercase;
  overflow: hidden;
}
.checkout ul li.subtotal{
  font-weight: bold;
  text-transform: capitalize;
  border-bottom:1px solid #fff;
  padding-bottom: 14px;
}
.checkout ul li.subtotal span{
  font-weight: bold;
}
.checkout ul li.cart-total{
  padding-top: 10px
}
.checkout ul li.cart-total span{
  color:black;
  background-color:#DEB28F;
}
.checkout ul li span{
  float:right;
}
.checkout .proceed-btn{
  font-size:15px;
  font-weight: bold;
  color:#fff;
  background:black;
  text-transform: uppercase;
  padding:15px 25px 14px 25px;
  display: block;
  text-align: center;
}
.container{
  margin-top:-4%;
  position: absolute;
  margin-left: 12.5%;
}
img{
  width: 160px;
  height: 80px;
}
.btndel{
  color: white;
  margin-top:23%;
  padding: 5px;
  background:black;
}
.btndel:hover{
  border:1px solid white;
}
.mytitle{
  margin-top:14% ! important;
}
td select{
  margin-top: 23% ! important;
}