<div class="nav" *ngFor="let brand of brands">
  <div class='card1'>
  <div class="card">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{brand.logo}}" class="img-fluid"/>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{brand.brandName}}</h5>
    <h4>{{brand.category}}</h4>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <p class="card-text">
      </p>
    <a href="#!" class="btn btn-dark">Buy Now!</a>
  </div>
</div>
</div>
</div>

