
 .row{
   position: absolute ! important;
   background-image: url('https://s1.1zoom.me/big0/127/Fast_food_Hamburger_Buns_Vegetables_Meat_products_560830_791x1024.jpg');
   background-size: cover;
 }
 
 .col-lg-2 {
  margin-top:5%;
  margin-left:2%;
  padding: 100px 10 20px
  
 }
.card-ecommerce{
  height: 0 auto;
  width: 260px ! important;
  
}

.view{
  min-height: 160px;
  
}

.imgBrand{
  width: 100% ! important;
  height: 60px ! important;
}